# use datasets :

    user_device.csv
    user_usage.csv
    
Find Out On Average What Platform (andriod or ios) Messages The Most !

Sample Output :

![download.png](attachment:download.png)

In [14]:
import pandas as pd

In [17]:
user_device=pd.read_csv("user_device.csv")
user_usage=pd.read_csv("user_usage.csv")

In [23]:
pd.merge(left = user_device , right = user_usage,\
        on = "use_id",\
        how = "inner")

merged_df = pd.merge(left = user_device , right = user_usage,\
        on = "use_id",\
        how = "inner")
merged_df

,use_id,platform,platform_version,device,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
0,22787,android,4.3,GT-I9505,21.97,4.82,1557.33
1,22788,android,6.0,SM-G930F,1710.08,136.88,7267.55
2,22789,android,6.0,SM-G930F,1710.08,136.88,7267.55
3,22790,android,5.1,D2303,94.46,35.17,519.12
4,22792,android,5.1,SM-G361F,71.59,79.26,1557.33
...,...,...,...,...,...,...,...
154,23043,android,6.0,SM-G900F,198.59,90.49,5191.12
155,23044,android,6.0,SM-G900F,198.59,90.49,3114.67
156,23046,android,6.0,Moto G (4),106.65,82.13,5191.12
157,23049,android,6.0,SM-G900F,344.53,20.53,519.12
158,23053,android,5.1,Vodafone Smart ultra 6,42.75,46.83,5191.12

In [26]:
merged_df["platform"].unique()

array(['android', 'ios'], dtype=object)

In [27]:
merged_df.columns

Index(['use_id', 'platform', 'platform_version', 'device',
       'outgoing_mins_per_month', 'outgoing_sms_per_month', 'monthly_mb'],
      dtype='object')

In [30]:
merged_df['outgoing_sms_per_month'].mean()

87.97874213836484

In [35]:
merged_df.loc[:,["platform",'outgoing_sms_per_month']]

final_df=merged_df.loc[:,["platform",'outgoing_sms_per_month']]

final_df

    platform  outgoing_sms_per_month
0    android                    4.82
1    android                  136.88
2    android                  136.88
3    android                   35.17
4    android                   79.26
..       ...                     ...
154  android                   90.49
155  android                   90.49
156  android                   82.13
157  android                   20.53
158  android                   46.83

[159 rows x 2 columns]

In [38]:
final_df.pivot_table(index="platform",\
                    aggfunc="mean")

          outgoing_sms_per_month
platform
android                85.354586
ios                   293.975000